@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Oswald);
body{
	font-family: 'Oswald', sans-serif;
	background-color:#FFFFFF;
	color:#000000;
}
.container {
   width: 45px;
   height: 130px;
   position: fixed;
   left: 10px;
   top: 100px;
}
.maintext{
    position: absolute;
    left:100px; top:92px; right:0; bottom:0;
}