@import url(http://fonts.googleapis.com/css?family=Oswald);
#sidebar,
#sidebar ul,
#sidebar ul li,
#sidebar ul li a,
#sidebar #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#sidebar:after,
#sidebar > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#sidebar #menu-button {
  display: none;
}
#sidebar {
  margin:20px 0 0 0;
  font-family: 'Oswald', sans-serif;
  position:absolute;
  top:0; bottom:0; left:0;
  width:70px;
  background: url('images/bg.png');
  border: 3px solid #fd8a17;
  border-radius: 3px;
  font-family: 'Oswald', sans-serif;
  line-height: 1;
  background: #f7f7f0;
  box-shadow: 1px 1px 0 #df7002, 2px 2px 0 #df7002, 3px 3px 3px rgba(0, 0, 0, 0.35);
}
#sidebar > ul {
  background: url('images/bg.png');
}
#sidebar > ul > li {
  float: left;
}
#sidebar.align-center > ul {
  font-size: 0;
  text-align: center;
}
#sidebar.align-center > ul > li {
  display: inline-block;
  float: none;
}
#sidebar.align-right > ul > li {
  float: right;
}
#sidebar > ul > li > a {
  padding: 20px 25px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fd8a10;
  font: bold;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#sidebar > ul > li > a:hover,
#sidebar > ul > li:hover > a,
#sidebar > ul > li.active > a {
  color: #000444;
}
#sidebar #menu-indicator {
  position: absolute;
  bottom: 0;
  display: block;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-bottom-color: #fd8a17;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}